*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
 background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  /* dark overlay */
    url('img/bg-image.jpg') center/cover no-repeat;
  height: 100vh;  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body h1{
  color: #fff;
  margin-bottom: 20px;
  font-weight: normal;
  text-align: center;
  font-size: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.container{
  border-radius:10px;
  max-width: 400px;
  background-color: hsl(0, 0%, 10%);
  border-radius: 25px;
}
input{
  width: 100%;
  height: 120px;
  background-color: hsl(0, 0%, 10%);
  color: white;
  font-size: 3rem;
  text-align: right;
  padding: 20px;
  overflow: hidden;
  border: none;
  outline: none;
  border-radius: 20px 20px;
}
.keys{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-items: center;
}
button{
  width:75px;
  height: 75px;
  border-radius: 50px;
  border: none;
  font-size: 2.5rem;
  display: grid;
  /* padding: 10px; */
  background-color: black;
  color: white;
  background-color: hsl(0, 0%, 20%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.operator {
  background-color: hsl(39, 100%, 50%);
}
.endResult{
  grid-column: span 2;
  width: 100%;
  font-size: 3rem;
}